n8n/refund-completion-notifications.json
{
  "name": "Refund Completion Notifications",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "returnAll": true
      },
      "id": "notion-query",
      "name": "Get Completed (Not Notified)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.neokizfest.com/api/refunds/notify-completion",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer REPLACE_WITH_YOUR_REFUND_CACHE_SECRET"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ confirmationNumber: 'RR-' + String($json['Confirmation #']['unique_id']['number']).padStart(4, '0') }) }}"
      },
      "id": "http-notify",
      "name": "Send Completion Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0]
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [
        [
          {
            "node": "Get Completed (Not Notified)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Completed (Not Notified)": {
      "main": [
        [
          {
            "node": "Send Completion Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
